$primary-gradient: linear-gradient(180deg, rgba(54, 63, 140, 0.3) 50%, rgba(69, 69, 229, 0.5));
$secondary-gradient: linear-gradient(180deg,rgb(54, 63, 140) 50%,rgb(69, 69, 229));
$primary-color:#363f8c;
$secondary-color: #e6e1e1;
$description: 'Poppins', sans-serif;
$titles: 'Philosopher', sans-serif;