$secondary-gradient: linear-gradient(180deg,#363f8c 40%,#4545e5);
$primary-color:#4545e5;
$secondary-color: rgb(230, 220, 230);
$titles: 'Philosopher', sans-serif;
$description: 'Poppins', sans-serif;
